<h1 id="full-template-specialization">Full Template Specialization</h1>
<p>Full template specialization allows you to provide a specific implementation, or behavior, for a template when used with a certain set of type parameters. It is useful when you want to handle special cases or optimize your code for specific types.</p>
<h2 id="syntax">Syntax</h2>
<p>To create a full specialization of a template, you need to define the specific type for which the specialization should happen. The syntax looks as follows:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">template</span><span style="color:#F8F8F2"> &#x3C;></span><span style="color:#6272A4"> //Indicates that this is a specialization</span></span>
<span class="line"><span style="color:#F8F8F2">className</span><span style="color:#FF79C6">&#x3C;</span><span style="color:#F8F8F2">specificType</span><span style="color:#FF79C6">></span><span style="color:#6272A4"> //The specialized class for the specific type</span></span></code></pre>
<h2 id="example">Example</h2>
<p>Consider the following example to demonstrate full template specialization:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#6272A4">// Generic template</span></span>
<span class="line"><span style="color:#FF79C6">template</span><span style="color:#F8F8F2"> &#x3C;</span><span style="color:#FF79C6">typename</span><span style="color:#8BE9FD;font-style:italic"> T</span><span style="color:#F8F8F2">></span></span>
<span class="line"><span style="color:#FF79C6">class</span><span style="color:#8BE9FD"> MyContainer</span><span style="color:#F8F8F2"> {</span></span>
<span class="line"><span style="color:#FF79C6">public:</span></span>
<span class="line"><span style="color:#FF79C6">    void</span><span style="color:#50FA7B"> print</span><span style="color:#F8F8F2">() {</span></span>
<span class="line"><span style="color:#F8F8F2">        std</span><span style="color:#FF79C6">::</span><span style="color:#F8F8F2">cout </span><span style="color:#FF79C6">&#x3C;&#x3C;</span><span style="color:#E9F284"> "</span><span style="color:#F1FA8C">Generic container.</span><span style="color:#E9F284">"</span><span style="color:#FF79C6"> &#x3C;&#x3C;</span><span style="color:#F8F8F2"> std</span><span style="color:#FF79C6">::</span><span style="color:#F8F8F2">endl;</span></span>
<span class="line"><span style="color:#F8F8F2">    }</span></span>
<span class="line"><span style="color:#F8F8F2">};</span></span>
<span class="line"></span>
<span class="line"><span style="color:#6272A4">// Full template specialization for int</span></span>
<span class="line"><span style="color:#FF79C6">template</span><span style="color:#F8F8F2"> &#x3C;></span></span>
<span class="line"><span style="color:#FF79C6">class</span><span style="color:#8BE9FD"> MyContainer</span><span style="color:#F8F8F2">&#x3C;</span><span style="color:#FF79C6">int</span><span style="color:#F8F8F2">> {</span></span>
<span class="line"><span style="color:#FF79C6">public:</span></span>
<span class="line"><span style="color:#FF79C6">    void</span><span style="color:#50FA7B"> print</span><span style="color:#F8F8F2">() {</span></span>
<span class="line"><span style="color:#F8F8F2">        std</span><span style="color:#FF79C6">::</span><span style="color:#F8F8F2">cout </span><span style="color:#FF79C6">&#x3C;&#x3C;</span><span style="color:#E9F284"> "</span><span style="color:#F1FA8C">Container for integers.</span><span style="color:#E9F284">"</span><span style="color:#FF79C6"> &#x3C;&#x3C;</span><span style="color:#F8F8F2"> std</span><span style="color:#FF79C6">::</span><span style="color:#F8F8F2">endl;</span></span>
<span class="line"><span style="color:#F8F8F2">    }</span></span>
<span class="line"><span style="color:#F8F8F2">};</span></span>
<span class="line"></span>
<span class="line"><span style="color:#FF79C6">int</span><span style="color:#50FA7B"> main</span><span style="color:#F8F8F2">() {</span></span>
<span class="line"><span style="color:#F8F8F2">    MyContainer</span><span style="color:#FF79C6">&#x3C;double></span><span style="color:#F8F8F2"> d;</span></span>
<span class="line"><span style="color:#F8F8F2">    MyContainer</span><span style="color:#FF79C6">&#x3C;int></span><span style="color:#F8F8F2"> i;</span></span>
<span class="line"></span>
<span class="line"><span style="color:#F8F8F2">    d.</span><span style="color:#50FA7B">print</span><span style="color:#F8F8F2">();</span><span style="color:#6272A4"> // Output: Generic container.</span></span>
<span class="line"><span style="color:#F8F8F2">    i.</span><span style="color:#50FA7B">print</span><span style="color:#F8F8F2">();</span><span style="color:#6272A4"> // Output: Container for integers.</span></span>
<span class="line"></span>
<span class="line"><span style="color:#FF79C6">    return</span><span style="color:#BD93F9"> 0</span><span style="color:#F8F8F2">;</span></span>
<span class="line"><span style="color:#F8F8F2">}</span></span></code></pre>
<p>In this example, we defined a generic <code>MyContainer</code> template class along with a full specialization for <code>int</code> type. When we use the container with the <code>int</code> type, the specialized implementation’s <code>print</code> method is called. For other types, the generic template implementation will be used.</p>