<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/vue/content/100-fundamental-topics/101-components/101-component-registration.md"></div> <h1 id="component-registration">Component Registration</h1>
<p>A Vue component needs to be “registered” so that Vue knows where to locate its implementation when it is encountered in a template. There are two ways to register components: global and local.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://vuejs.org/guide/components/registration.html" rel="noopener noreferrer nofollow" target="_blank">Component Registration</a></li>
</ul>