<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/vue/content/100-fundamental-topics/101-components/102-props.md"></div> <h1 id="props">Props</h1>
<p>If we are building a blog, we will likely need a component representing a blog post. We want all the blog posts to share the same visual layout, but with different content. Such a component won’t be useful unless you can pass data to it, such as the title and content of the specific post we want to display. That’s where props come in.</p>
<p>Props are custom attributes you can register on a component.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://vuejs.org/guide/essentials/component-basics.html#passing-props" rel="noopener noreferrer nofollow" target="_blank">Props Basics</a></li>
<li><a href="https://vuejs.org/guide/components/props.html" rel="noopener noreferrer nofollow" target="_blank">Props in Depth</a></li>
</ul>