<h1 id="binding-data-props-attrs-events">Binding data props attrs events</h1>
<p>In an Angular template, a binding creates a live connection between view and the model and keeps them both in sync.</p>
<ul>
<li><strong>property</strong>: helps you set values for properties of HTML elements or directives.</li>
<li><strong>attributes</strong>: helps you set values for attributes of HTML elements directly.</li>
<li><strong>event</strong>: lets you listen for and respond to user actions such as keystrokes, mouse movements, clicks, and touches.</li>
<li><strong>data</strong>: It’s a combination of property and event binding and helps you share data between components.</li>
</ul>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/binding-overview" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>