<h1 id="input-output">Input output</h1>
<p><code>@Input()</code> and <code>@Output()</code> give a child component a way to communicate with its parent component. <code>@Input()</code> lets a parent component update data in the child component. Conversely, <code>@Output()</code> lets the child send data to a parent component.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/inputs-outputs" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>