<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/angular/content/104-templates/100-interpolation.md"></div> <h1 id="interpolation">Interpolation</h1>
<p>Interpolation refers to embedding expressions into marked up text. By default, interpolation uses the double curly braces {{ and }} as delimiters. Angular replaces currentCustomer with the string value of the corresponding component property.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/interpolation" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>