<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/angular/content/104-templates/101-property-binding.md"></div> <h1 id="property-binding">Property binding</h1>
<p>Property binding helps you set values for properties of HTML elements or directives. To bind to an element’s property, enclose it in square brackets <code>[]</code> which causes Angular to evaluate the right-hand side of the assignment as a dynamic expression.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/property-binding" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>