<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/angular/content/104-templates/104-reference-vars.md"></div> <h1 id="reference-vars">Reference vars</h1>
<p>Template reference variables help you use data from one part of a template in another part of the template. A template variable can refer to a DOM element within a template, component or directive. In the template, use the hash symbol, <code>#</code>, to declare a template reference variable.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/template-reference-variables" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>