<h1 id="template-statements">Template statements</h1>
<p>Template statements are methods or properties that you can use in your HTML to respond to user events. With template statements, your application can engage users through actions such as displaying dynamic content or submitting forms. Enclose the event in <code>()</code> which causes Angular to evaluate the right hand side of the assignment as one or more template statements chained together using semicolon <code>;</code>.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://angular.io/guide/template-statements" rel="noopener noreferrer nofollow" target="_blank">Angular Official Website</a></li>
</ul>