<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/react/content/102-components/100-class-components.md"></div> <h1 id="class-components">Class Components</h1>
<p>Components can either be created using the class based approach or a functional approach. These components are simple classes (made up of multiple functions that add functionality to the application). All class based components are child classes for the Component class of ReactJS.</p>
<p>Although the class components are supported in React, it is encouraged to write functional components and make use of hooks in modern React applications.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://react.dev/learn/thinking-in-react#props-vs-state" rel="noopener noreferrer nofollow" target="_blank">Components and Props</a></li>
<li><a href="https://medium.com/geekculture/is-there-any-reason-to-still-use-react-class-components-9b6a1e6aa9ef" rel="noopener noreferrer nofollow" target="_blank">Is There Any Reason to Still Use React Class Components?</a></li>
<li><a href="https://www.freecodecamp.org/news/functional-components-vs-class-components-in-react" rel="noopener noreferrer nofollow" target="_blank">Functional Components vs Class Components in React</a></li>
<li><a href="https://www.robinwieruch.de/react-hooks-migration/" rel="noopener noreferrer nofollow" target="_blank">Migrate Class Components to Functional Components with Hooks in React</a></li>
</ul>