<h1 id="composition-vs-inheritance">Composition vs Inheritance</h1>
<p>React has a powerful composition model, and it is recommended to use composition instead of inheritance to reuse code between components.</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://reactjs.org/docs/composition-vs-inheritance.html" rel="noopener noreferrer nofollow" target="_blank">Composition vs Inheritance</a></li>
<li><a href="https://www.robinwieruch.de/react-component-composition/" rel="noopener noreferrer nofollow" target="_blank">How to perform component composition in React</a></li>
<li><a href="https://formidable.com/blog/2021/react-composition/" rel="noopener noreferrer nofollow" target="_blank">Achieving Reusability With React Composition</a></li>
<li><a href="https://react.dev/learn/passing-props-to-a-component#passing-jsx-as-children" rel="noopener noreferrer nofollow" target="_blank">Passing JSX as children</a></li>
</ul>