<h1 id="props-vs-state">Props vs State</h1>
<p>Props (short for “properties”) and state are both plain JavaScript objects. While both hold information that influences the output of component render, they are different in one important way: props get passed to the component (similar to function parameters) whereas state is managed within the component (similar to variables declared within a function).</p>
<p>Visit the following resources to learn more:</p>
<ul>
<li><a href="https://react.dev/learn/state-a-components-memory" rel="noopener noreferrer nofollow" target="_blank">State: A Component’s Memory</a></li>
<li><a href="https://www.robinwieruch.de/react-pass-props-to-component/" rel="noopener noreferrer nofollow" target="_blank">How to use Props in React</a></li>
<li><a href="https://stackoverflow.com/questions/27991366/what-is-the-difference-between-state-and-props-in-react" rel="noopener noreferrer nofollow" target="_blank">What is the difference between state and props in React?</a></li>
<li><a href="https://www.robinwieruch.de/react-derive-state-props/" rel="noopener noreferrer nofollow" target="_blank">How to update state from props in React</a></li>
</ul>