<div data-github-url="https://github.com/kamranahmedse/developer-roadmap/tree/master/src/data/roadmaps/sql/content/109-views/101-modifying.md"></div> <h1 id="modifying-views">Modifying Views</h1>
<p>In SQL, you can modify a VIEW in two ways:</p>
<ul>
<li>
<p>Using CREATE OR REPLACE VIEW: This command helps you modify a VIEW but keeps the VIEW name intact. This is beneficial when you want to change the definition of the VIEW but do not want to change the VIEW name.</p>
</li>
<li>
<p>Using the DROP VIEW and then CREATE VIEW: In this method, you first remove the VIEW using the DROP VIEW command and then recreate the view using the new definition with the CREATE VIEW command.</p>
</li>
</ul>
<h2 id="modifying-view-using-create-or-replace-view">Modifying VIEW Using CREATE OR REPLACE VIEW</h2>
<p>Syntax:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">CREATE OR REPLACE</span><span style="color:#FF79C6"> VIEW</span><span style="color:#50FA7B"> view_name</span><span style="color:#FF79C6"> AS</span></span>
<span class="line"><span style="color:#FF79C6">SELECT</span><span style="color:#F8F8F2"> column1, column2, ...</span></span>
<span class="line"><span style="color:#FF79C6">FROM</span><span style="color:#F8F8F2"> table_name</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> condition;</span></span></code></pre>
<p>Example:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">CREATE OR REPLACE</span><span style="color:#FF79C6"> VIEW</span><span style="color:#50FA7B"> customer_view</span><span style="color:#FF79C6"> AS</span></span>
<span class="line"><span style="color:#FF79C6">SELECT</span><span style="color:#F8F8F2"> customer_name, country</span></span>
<span class="line"><span style="color:#FF79C6">FROM</span><span style="color:#F8F8F2"> customers</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> country</span><span style="color:#FF79C6">=</span><span style="color:#E9F284">'</span><span style="color:#F1FA8C">USA</span><span style="color:#E9F284">'</span><span style="color:#F8F8F2">;</span></span></code></pre>
<p>In this example, ‘customer_view’ will show the names and countries of customers only from the USA.</p>
<h2 id="modifying-view-using-drop-view-and-create-view">Modifying VIEW Using DROP VIEW and CREATE VIEW</h2>
<p>Syntax:
Drop the VIEW:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">DROP</span><span style="color:#FF79C6"> VIEW</span><span style="color:#F8F8F2"> view_name;</span></span></code></pre>
<p>Create a new VIEW:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">CREATE</span><span style="color:#FF79C6"> VIEW</span><span style="color:#50FA7B"> view_name</span><span style="color:#FF79C6"> AS</span></span>
<span class="line"><span style="color:#FF79C6">SELECT</span><span style="color:#F8F8F2"> column1, column2, ...</span></span>
<span class="line"><span style="color:#FF79C6">FROM</span><span style="color:#F8F8F2"> table_name</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> condition;</span></span></code></pre>
<p>Example:
Drop the VIEW</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">DROP</span><span style="color:#FF79C6"> VIEW</span><span style="color:#F8F8F2"> customer_view;</span></span></code></pre>
<p>Create a new VIEW:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">CREATE</span><span style="color:#FF79C6"> VIEW</span><span style="color:#50FA7B"> customer_view</span><span style="color:#FF79C6"> AS</span></span>
<span class="line"><span style="color:#FF79C6">SELECT</span><span style="color:#F8F8F2"> customer_name, country</span></span>
<span class="line"><span style="color:#FF79C6">FROM</span><span style="color:#F8F8F2"> customers</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> country</span><span style="color:#FF79C6">=</span><span style="color:#E9F284">'</span><span style="color:#F1FA8C">UK</span><span style="color:#E9F284">'</span><span style="color:#F8F8F2">;</span></span></code></pre>
<p>In this example, we first removed ‘customer_view’. Then, we created it again with the new definition where it now shows the names and countries of the customers only from the UK.</p>
<p><strong>CAUTION</strong>: If other views, stored procedures, or programs depend on this view, they will be affected after you drop the view. For this reason, using CREATE OR REPLACE VIEW is generally safer.</p>
<h2 id="modifying-data-through-view">Modifying Data through VIEW</h2>
<p>In some cases, you can modify the data of the underlying tables via a VIEW.</p>
<p>Syntax:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">UPDATE</span><span style="color:#F8F8F2"> view_name</span></span>
<span class="line"><span style="color:#FF79C6">SET</span><span style="color:#F8F8F2"> column1 </span><span style="color:#FF79C6">=</span><span style="color:#F8F8F2"> value1, column2 </span><span style="color:#FF79C6">=</span><span style="color:#F8F8F2"> value2, ...</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> condition;</span></span></code></pre>
<p>Example:</p>
<pre class="astro-code dracula" style="background-color:#282A36;color:#F8F8F2; overflow-x: auto;" tabindex="0"><code><span class="line"><span style="color:#FF79C6">UPDATE</span><span style="color:#F8F8F2"> customer_view</span></span>
<span class="line"><span style="color:#FF79C6">SET</span><span style="color:#F8F8F2"> country </span><span style="color:#FF79C6">=</span><span style="color:#E9F284"> '</span><span style="color:#F1FA8C">USA</span><span style="color:#E9F284">'</span></span>
<span class="line"><span style="color:#FF79C6">WHERE</span><span style="color:#F8F8F2"> customer_name </span><span style="color:#FF79C6">=</span><span style="color:#E9F284"> '</span><span style="color:#F1FA8C">John Doe</span><span style="color:#E9F284">'</span><span style="color:#F8F8F2">;</span></span></code></pre>
<p>This command will update the country of ‘John Doe’ to ‘USA’ in both the VIEW and the underlying table.</p>
<p>However, not every VIEW is updatable. You can only modify the data if the VIEW you’re modifying is a simple VIEW that returns results from a single table without any aggregation or complex clauses. If you attempt to modify a complex view (i.e., it includes JOIN, GROUP BY, HAVING, DISTINCT), you will get an error.</p>